@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --red: #960000;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo {
    font-size: 32px;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color:var(--red);
}

header .navbar a {
    font-size: 18px;
    padding: 0 12px;
    color: #666;
}

header .navbar a:hover {
    color: var(--red);
}

header .icons a {
    font-size: 32px;
    color: #333;
    margin-left: 24px;
}

header .icons a:hover {
    color: var(--red);
}

header #toggler {
    display: none;
}

header .bx-menu {
    font-size: 36px;
    color: #333;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,.3);
    display: none;
}



@media (max-width: 991px) {
    html {
    font-size: 55%;
    }

    header {
        padding: 24px;
    }
}

@media (max-width: 768px) {
    header .bx-menu {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 2px solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 12px;
        padding: 12px;
        background: #fff;
        border: 2px solid rgba(0,0,0,.1);
        display: block;
    }
}

@media (max-width: 450px) {
    html {
    font-size: 50%;
    }
}